In [1]:
import pandas as pd

df = pd.read_csv("testdist.tsv", header=None, sep="\t")
df2 = pd.read_csv("dict.tsv", header=None, sep="\t")

df

                      0                1           2
0    NEG+1p+PRES+kuweza  we are not able    hatuwezi
1           2s+IMP+kuja             come        njoo
2           2p+IMP+kuja             come      njooni
3         2s+IMP+kuleta            bring        lete
4         2p+IMP+kuleta            bring      leteni
..                  ...              ...         ...
226    3p+PAST+kufariki        they died  walifariki
227      2s+PRES+kujali         you care     unajali
228     3s+PRES+kusomea    (s)he studies    anasomea
229     3p+PRES+kusomea       they study   wanasomea
230    1s+PRES+kutamani           I wish  ninatamani

[231 rows x 3 columns]

'study'

          0        1
165  kuweza  be able

In [31]:
def get_english(feat):
    swahili_word = feat.split("+")[-1]
    # print(swahili_word)
    return df2[df2[0] == swahili_word].values[0][1]

def create_eng_feat(feat):
    return "+".join(feat.split("+")[:-1] )

In [35]:
df[3] = df[0].apply(lambda x:create_eng_feat(x)+"+"+ get_english(x))

In [36]:
df

                      0                1           2                    3
0    NEG+1p+PRES+kuweza  we are not able    hatuwezi  NEG+1p+PRES+be able
1           2s+IMP+kuja             come        njoo          2s+IMP+come
2           2p+IMP+kuja             come      njooni          2p+IMP+come
3         2s+IMP+kuleta            bring        lete         2s+IMP+bring
4         2p+IMP+kuleta            bring      leteni         2p+IMP+bring
..                  ...              ...         ...                  ...
226    3p+PAST+kufariki        they died  walifariki          3p+PAST+die
227      2s+PRES+kujali         you care     unajali         2s+PRES+care
228     3s+PRES+kusomea    (s)he studies    anasomea        3s+PRES+study
229     3p+PRES+kusomea       they study   wanasomea        3p+PRES+study
230    1s+PRES+kutamani           I wish  ninatamani         1s+PRES+wish

[231 rows x 4 columns]

In [39]:
pd.DataFrame(df[[3,1]]).to_csv("test_english_sentences.tsv", sep="\t", header=False, index=False)